.header__paragraph {
  width: 60%;
  height: 8vh;
  display: block;
  font-size: 3.75rem;
  padding: 1vh;
  margin: 1.1vh 0;
  line-height: 4rem;
}
.header__paragraph:first-of-type {
  margin: 1.1vh 0 0;
}
.header__error {
  color: var(--error);
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.header__error.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1024px) {
  .header__paragraph {
    height: 38px;
    font-size: 32px;
    padding: 5px;
    margin: 10px 0 40px;
    line-height: 32px;
    text-align: center;
  }
  .header__paragraph:first-of-type {
    margin: 10px 0 20px;
  }
  .header__error {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .header__paragraph {
    font-size: 40px;
    line-height: 40px;
  }
  .header__paragraph:first-of-type {
    margin: 10px 0 20px;
  }
  .header__error {
    font-size: 36px;
  }
}
