.list__container {
    width: 90%;
    height: 19.22vh;
    overflow: scroll;
    align-content: start;
  }
  .list__container--income {
    color: var(--income-primary);
  }
  .list__container--expense {
    color: var(--expense-primary);
  }
  @media (min-width: 1024px){
    .list__container {
        width: 432px;
        height: 360px;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
      .list__container::-webkit-scrollbar {
        display: none;
      }
  }
  @media (min-width: 1600px){
    .list__container {
        width: 700px;
        height: 500px;
      }
  }