.paragraph-gradient--income {
    background-image: linear-gradient(
      to bottom,
      var(--income-primary),
      var(--income-secondary)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .paragraph-gradient--expense {
    background-image: linear-gradient(
      to bottom,
      var(--expense-primary),
      var(--expense-secondary)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  