.input__wrapper--edit-text {
  width: 65%;
}
.input__wrapper--edit-amount {
  width: 30%;
}
.input__wrapper--text {
  width: 50%;
  height: auto;
}
.input__wrapper--amount {
  width: 21%;
  height: auto;
}
@media (min-width: 1024px) {
  .input__wrapper--text {
    width: 250px;
  }
  .input__wrapper--edit-text {
    width: 200px;
  }
  .input__wrapper--amount {
    width: 80px;
  }
  .input__wrapper--edit-amount {
    width: 80px;
  }
}
@media (min-width: 1600px) {
  .input__wrapper--text {
    width: 386px;
  }
  .input__wrapper--edit-text {
    width: 350px;
  }
  .input__wrapper--amount {
    width: 140px;
  }
  .input__wrapper--edit-amount {
    width: 130px;
  }
}
