.container__paragraph {
  width: 84%;
  height: 4.5vh;
}
@media (min-width: 1024px) {
  .container__paragraph {
    width: 450px;
    height: 34px;
    align-self: flex-end;
  }
}
@media (min-width: 1600px) {
  .container__paragraph {
    width: 702px;
    height: 50px;
  }
}
