.container {
  width: 92.43%;
  height: 30vh;
  border-radius: 0.78125vh;
}
.income__container {
  background-color: var(--income-secondary-transparent);
  border: 0.15625vh solid var(--income-primary);
}
.expense__container {
  background-color: var(--expense-secondary-transparent);
  border: 0.15625vh solid var(--expense-primary);
}
@media (min-width: 1024px) {
  .container {
    width: 504px;
    height: 484px;
  }
  .income__container {
    border: 2px solid var(--income-primary);
  }
  .expense__container {
    border: 2px solid var(--expense-primary);
  }
}
@media (min-width: 1600px) {
  .container {
    width: 775px;
    height: 690px;
  }
}
